.form-control{
    height: 4rem;
    font-size: 15px;
}

.cz-pointer{
    cursor: pointer;
}

.cz-btn-55{
    width: 55px;height: 55px;
    margin-right: 45px;
}

body{
    visibility:hidden;
}

.card{
    background-color: inherit;
}

.paginate_button{
    margin:5px;
    cursor: pointer;
}

body, sub, sup {
    position: static;
}

.alert-normal{
    background-color: #FBFBFB;
    color:black;
    border:1px solid rgba(32,35,50,.1);;
}

.cz-row-index-news{
    width: 100%;
    background-color: #f8f8f8;
}

content[data-v-24ef9a98] {
    background-color: #fff;
    border-radius: 4px;
}
